*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  min-width: 1400px;
  overflow-x: hidden;
  position: relative;

}
/* UTILITY */
.container{
  width: 80%;
  margin: auto;
  content: " ";
  display: table;
  clear: both;
}
.container_nav{
  background-color: #f4f9fd;
  border: 1px solid black;
  height: 100px;
}

.fixed{
  width: 100%;
  position:fixed;
  top:0;
}

.nav_bottom{
  /* margin-top: 100px; */
}

.nav_ht{
  height: 100px;
}
.card_ht{
  height: 400px;
}
.row_width{
  width: 29.93%;
}
.row_4{
  text-align: center;
}

.vod_space{
  border: 2px solid black;
  height: 100px;
}

.ft_lx{
  float: left;
}
.ft_dx{
  float: right;
}
.pd_20{
  padding: 0 20px;
}
.pd_20_tb{
  padding: 40px 0;
}

.mg_20{
  margin: 0 5%;
}
.col_3{
  display: inline-block;
  text-align: center;
  height: 500px;
  margin-bottom: 40px;
}
/* UTILITY */

/* COOMON  */

#site_header{
  /* height: 550px; */
}
#site_main{
background-color: #f4f9fd;
}
#site_footer{
    background-color: #33475b;
}

.btn{
  color: white;
  border: 1px solid #feb8a8;
  background: #feb8a8;
  padding: 10px 20px;
  border-radius: 5px;
}

a {
  color: #33475b;
  text-decoration: none;
}


/* // COMMON  */


/* BACKGROUN COLORS */

.bg_container{
  background-color: #F4F9FD;
}
.bg_lightgreen{
  background-color: #aceae3;
}
.bg_blue{
  background-color: blue;
}
.bg_green{
  background-color: green;
}
.bg_black{
  background-color: black;
}
.bg_purple{
  background-color: purple;
}
.bg_footer{
  background-color: #33475b;
}
.bg_white{
  background-color: white;
}

.bg_red{
  background-color: red;
}

.bg_gradient{
  background: #009fb9;
}
/* BACKGROUN COLORS */

/* HEADER */

.info_left{
  line-height: 100px;
}
.info_right{
  line-height: 100px;
}
.info_left a, .info_right a{
  text-decoration: none;
}
.info_right > i{
  color: #33475b;
}
.info_right_bottom{
  line-height: 100px;
}

.logo_nav{
  line-height: 100px;
}
.logo_nav img{
  height: 25px;
  margin-top: 10px;
}
/*// HEADER */

.info_right_bottom > a:not(:last-child){
  margin: 0 20px;
}

.language{
  padding-right: 10px;
  border-right: 2px solid gray;
}
.contact{
  padding-left: 10px;
}
.login{
  margin: 10px 20px;
  padding: 10px 20px;
  border: 1px solid #feb8a8;
  border-radius: 5px;
  color: #feb8a8;
}
.hero_img{
  background-color: #fff4ee;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: 100% 40%;
}
.hero_container{
  position: relative;
  height: 550px;
}
.hero_txt{
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero_txt h1, .here_txt p{
  width: 50%;
  color: #33475b;
}
.hero_txt h1{
  font-weight: 500;
}
.hero_txt p{
  margin: 40px 0;
}
/*// HEADER */

/* MAIN */
.card_img {
  text-align: center;
}
.card_img img{
  height: 120px;
  margin-top: 20px;
}
.card_img h2{
  font-weight:900;
  color: #33475b;
  margin: 20px 0;
}
.card_img p{
  margin: 0 20px;
  width: 100%;
}
.card_top{
  margin-bottom: 50px;
}
.card_top::after{
  margin: auto;
  content: " ";
  display: table;
  clear: both;
}
.left_card{
  position: relative;
  top:50%;
  transform: translateY(-50%);
  float: left;
  width: 30%;
  text-align: center;
}
.left_card img{
  height: 100px;
}

.left_card a{
  margin-top: 10px;
  color: white;
  border: 1px solid #feb8a8;
  background: #feb8a8;
  padding: 10px 20px;
  border-radius: 5px;

}
.check{
  color: white;
  background:#feb8a8;
  border-radius: 10px;
}
.right_card{
  position: relative;
  top:50%;
  transform: translateY(-50%);
  float: left;
  width: 70%;
}
.right_card h2{
  margin: 20px 0;
}
.right_card p{
  width: 60%;
}

.text_pop{
  height: 23px;
  width: 100%;
}

.right_card > h3:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h3:after {
  left: 0.5em;
  margin-right: -50%;
  margin-left: 40px;
}

.right_card h3 {
  margin: 20px 0;
  color: #33475b;
}
.right_card > ul > li{
  display: inline-block;
  list-style: none;
  padding: 0 10px;
  color: #33475b;
}
.right_card p{
  color: #33475b;
}

.col_txt h2{
  margin: 20px 0;
}
.col_txt h3{
  margin-bottom: 30px;
}
.col_txt img{
  height: 100px;
}
.h_rule{
  margin: 30px 40px;
  width: 80%;
  border-color: #33475b;
}
.col_txt > ul {
  margin-bottom: 30px;
}
.logo > ul > i{
  display: inline;
  margin-right: 10px;
}
.logo > ul > li{
  list-style: none;
  text-align: left;
}

.row_title{
  margin: 60px 0;
}
.inside_box_up img, .inside_box_down img{
  margin-top: 10px;
}
.inside_box_up, .inside_box_down{
  width: 25%;
  float: left;
  text-align: center;
}
.color_white{
  color: white;
}
.col_4 h2{
  margin: 10px 0;
}
.col_4 p{
  font-size: 10px;
  margin-bottom: 10px;
}
.inside_box_up{
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.last{
  border-right: none;
}
.img_ht{
  height: 33px;
}

.inside_box_down:not(:last-child){
  border-right: 1px solid white;
}




.last_menu{
  height: 200px;
}
.left_side{
  text-align: center;
  width: 25%;
  height: 200px;
}

.left_side_txt{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 50%;
}

.loghi_up{
  text-align: center;
  margin-left: 50px;
}
.loghi_up img{
  padding: 0 20px;
}
.loghi_down{
  text-align: center;
  margin-left: 70px;
}
.loghi_down img{
  padding: 0 20px;
}

.p_center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.right_side{
  width: 75%;
  height: 200px;
}
.right_side img{
  height: 30px;
}

.last_menu_txt_container h2{
  width: 50%;
}
.last_menu_txt_container p{
  width: 80%;
}
.last_menu_txt p{
  margin: 40px 0;
}

.last_menu_txt_container .p_sm{
  font-size: 12px;
}

.last_menu_txt{
  width: 40%;
  height: 400px;
}
.last_menu_img{
  text-align: right;
  width: 60%;
  height: 400px;
}

.last_menu_img img{

  height: 400px;
}
.footer_boxes h4{
  margin-top: 20px;
}
.footer_boxes a{
  font-size: 12px;
  text-decoration: none;
  color: white;
  display: block;
  margin: 10px 0;
}

.footer_4{
  height: 200px;
  text-align: center;
}
.footer_boxes{
  width: 25%;
}
.footer_bottom{
  height: 300px;
}

.footer_btn{
  margin:0  auto;
  width: 50%;
}

.footer_socials i{
  padding: 0 10px;
}
.footer_bottom_languages{
  text-align: center;
  margin: 20px 0;
  border-bottom: 1px solid white;
}
.languages_links{
  margin-bottom: 20px;
}
.footer_bottom_languages a, .footer_bottom_down a{
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.footer_bottom_logo img{
  background: white;
}
