*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  min-width: 1400px;
  overflow-x: hidden;
}
/* UTILITY */
.container{
  width: 80%;
  margin: auto;
  content: " ";
  display: table;
  clear: both;
}

.nav_ht{
  height: 100px;
}
.card_ht{
  height: 400px;
}
.row_width{
  width: 33.33%;
}
/* .row_4{
  height: 700px;
} */
.vod_space{
  border: 2px solid black;
  height: 100px;
}

.ft_lx{
  float: left;
}
.ft_dx{
  float: right;
}
.pd_20{
  padding: 0 20px;
}
.pd_20_tb{
  padding: 40px 0;
}
.col_3{
  border: 2px solid black;
  display: inline;
}
/* UTILITY */
/* MAIN  */
#site_header{
  height: 550px;
}
#site_main{

}
#site_footer{

}

.btn{
  color: white;
  border: 1px solid #feb8a8;
  background: #feb8a8;
  padding: 10px 20px;
  border-radius: 5px;
}

a {
  color: #33475b;
  text-decoration: none;
}
/* BACKGROUN COLORS */
.bg_lightgreen{
  background-color: #aceae3;
}
.bg_blue{
  background-color: blue;
}
.bg_green{
  background-color: green;
}
.bg_black{
  background-color: black;
}
.bg_purple{
  background-color: purple;
}
.bg_yellow{
  background-color: yellow;
}
.bg_white{
  background-color: white;
}

.bg_red{
  background-color: red;
}
/* BACKGROUN COLORS */

/* HEADER */

.info_left{
  line-height: 100px;
}
.info_right{
  line-height: 100px;
}
.info_left a, .info_right a{
  text-decoration: none;
}
.info_right > i{
  color: #33475b;
}
.info_right_bottom{
  line-height: 100px;
}

.logo_nav{
  line-height: 100px;
}
.logo_nav img{
  height: 25px;
  margin-top: 10px;
}

.info_right_bottom > a:not(:last-child){
  margin: 0 20px;
}

.language{
  padding-right: 10px;
  border-right: 2px solid gray;
}
.contact{
  padding-left: 10px;
}
.login{
  margin: 10px 20px;
  padding: 10px 20px;
  border: 1px solid #feb8a8;
  border-radius: 5px;
  color: #feb8a8;
}
.hero_img{
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
}
.hero_container{
  position: relative;
  height: calc(550px - 200px)
}
.hero_txt{
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero_txt h1, p{
  width: 50%;
  color: #33475b;
}
.hero_txt h1{
  font-weight: 500;
}
.hero_txt p{
  margin: 40px 0;
}
/*// HEADER */

.left_card{
  float: left;
  width: 30%;
  height: 400px;
}
.right_card{
  float: left;
  width: 70%;
  height: 400px;
}

.inside_box{
  width: 25%;
  height: 100px;
  float: left;
  border: 2px solid black;
  background: green;
  text-align: center;
}

.last_menu{
  height: 800px;
}
.left_side{
  width: 25%;
  height: 400px;
}
.right_side{
  width: 75%;
  height: 400px;
}

.last_menu_txt{
  width: 50%;
  height: 400px;
}
.last_menu_img{
  width: 50%;
  height: 400px;
}

.footer_4{
  height: 200px;
}
.footer_boxes{
  height: 200px;
  width: 25%;
  border: 2px solid black;
}
.footer_bottom{
  height: 300px;
}
